.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.map-styles {
  width: 100%;
  height: 100%;
}

.marker-style {
  height: 50px;
  width: 50px;
  margin-top: -100px;
  text-align: center;
}

.img-style {
  height: 100%;
}

h3.marker-title {
  margin-top: -15px;
  color: white;
}

h3.available {
  background-color: green;
}

h3.ride {
  background-color: orange;
}

h3.unavailable {
  background-color: orangered;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
